@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Значение</title>
    </head>
    <body>
        <div>
            Общая стоимость @Model
        </div>
    </body>
    </html>