@model JsonHelper.Record

@{
    <tr>
        <td>
            @Html.DisplayFor(record => record.Name)
        </td>
        <td>
            @Html.DisplayFor(record => record.PhoneNumber)
        </td>
        <th></th>
        <td>
            @Html.ActionLink("Update", "Update", new { name = Model.Name }) |
            @Html.ActionLink("Delete", "Delete", new { name = Model.Name })
        </td>
    </tr>

}