@model IEnumerable<JsonHelper.Record>  
   
@{  
    ViewBag.Title = "Index";
}  
   
<h2>Index</h2>  
   
<p>  
    @Html.ActionLink("Create New", "Create")  
</p>  
   
<table class="table">  
    <tr>  
        <th>  
            @Html.DisplayNameFor(record => record.Name)  
        </th>  
        <th>  
            @Html.DisplayNameFor(record => record.PhoneNumber)  
        </th>
    </tr>  
    @foreach (var record in Model)  
    {  
        @Html.Partial("_RecordView", record) 
    }
</table>