
@{
    ViewBag.Title = "Not Found";
}

<h2>NotFound</h2>

<div class="list-header clearfix">
    <span>Error</span>
</div>
<div class="list-sfs-holder">
    <div>
        <p>
            @Request.HttpMethod: @Request.RawUrl
        </p>
    </div>
</div>