@model Lab3.Models.TS

@{
    ViewBag.Title = "Удаление";
}

<h2 style="text-align:center">Удаление</h2>

<h3>Вы действительно хотите удалить данную строку?</h3>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            Фамилия:
        </dt>

        <dd>
            @Model.Surname
        </dd>

        <dt>
            Телефон:
        </dt>

        <dd>
            @Model.Phone
        </dd>

    </dl>

    <form action="Delete" method="post">
        <div class="form-actions no-color">
            <input hidden name="Id" value="@Model.Id"/>
            <input type="submit" value="Удалить" class="btn btn-success" />
            <a href="~/Dict/Index" class="btn btn-danger">Назад</a>
        </div>
    </form>
</div>
