@model IEnumerable<JsonL.Models.TS>

@{
    ViewBag.Title = "Телефонный справочник";
}

<h2>Телефонный справочник</h2>

<p>
    @Html.ActionLink("Добавить запись", "Add")
</p>
<table class="table">
    <tr>
        <th>
            Фамилия
        </th>
        <th>
            Телефон
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        @Html.Partial("PartialView", item)
    }

</table>
